.ComponentAnnotation span {
  margin-right: 0.5rem;
  width: 20px;
  height: 2px;
}

.ComponentAnnotation p {
  font-size: 1rem;
}

@media (max-width: 460px) {
  .ComponentAnnotation span {
    display: none;
  }
  .ComponentAnnotation p {
    font-size: 0.8rem;
  }
}
