.LanguageSwitcher {
  position: absolute;
  top: 3rem;
  width: 100%;
  font-size: 1.1rem;
}

.LanguageSwitcher span {
  margin: 0 0.5rem;
  font-size: 0.7rem;
}

.LanguageSwitcher button:hover,
.LanguageSwitcher button.active {
  color: var(--accent);
  text-decoration: underline;
}
